/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #A7E6FF;
  padding-top: 96px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 96px;
  background-color: #01204E;
  padding: 0 20px;
  z-index: 1000;
}
header .logo {
  width: 70px;
  height: auto;
  flex-shrink: 0;
  vertical-align: middle;
}
header .HEADERTITLE {
  color: #3572EF;
  font-family: "Copperplate Gothic Light";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0;
  margin: 0;
  list-style: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: #d5d2d2;
  font-family: "Copperplate Gothic Light";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
header .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.425);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
header .sidebar li {
  width: 100%;
}
header .sidebar a {
  width: 100%;
  padding-left: 30px;
}
header .sidebar div {
  padding-left: 20px;
}
header .sidebar div a:hover {
  background-color: #01204E;
  transition: 0.5s;
}
header .active {
  color: #22c38b;
  font-family: "Copperplate Gothic Light";
  font-size: 25px;
  font-style: normal;
  font-weight: 580;
  line-height: normal;
  text-decoration: none;
}
header .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .icons a {
  text-decoration: none;
  color: #028391;
  font-size: 24px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
header .icons a:hover {
  background-color: #01204E;
  transition: 0.5s;
}

section.banner-container {
  width: 1240px;
  height: 356px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../images/section1.jpg");
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
section.banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  border-radius: 10px;
}
section.banner-container .banner-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
}
section.banner-container .banner-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #d1beaf;
  font-family: "Bell MT";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
@media (max-width: 1280px) {
  section.banner-container .banner-content h1 {
    font-size: 1.8em;
  }
}
@media (max-width: 768px) {
  section.banner-container .banner-content h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 480px) {
  section.banner-container .banner-content h1 {
    font-size: 1.2em;
  }
}
section.banner-container .banner-content button {
  border-radius: 8px;
  width: 156px;
  height: 46px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
section.banner-container .banner-content button:hover {
  background-color: #0056b3;
}
section.banner-container .banner-content button a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}
@media (max-width: 1280px) {
  section.banner-container .banner-content button a {
    font-size: 0.9em;
  }
}
@media (max-width: 768px) {
  section.banner-container .banner-content button a {
    font-size: 0.8em;
  }
}
@media (max-width: 480px) {
  section.banner-container .banner-content button a {
    font-size: 0.7em;
  }
}

@media (max-width: 1240px) {
  section.banner-container {
    width: 100%;
    height: auto;
    margin-left: 20px;
  }
  section.banner-container .banner-content h1 {
    font-size: 1.8em;
  }
  section.banner-container .banner-content button {
    width: auto;
    padding: 8px 12px;
    font-size: 0.9em;
  }
}
@media (max-width: 768px) {
  section.banner-container {
    height: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  section.banner-container .banner-content h1 {
    font-size: 1.5em;
  }
  section.banner-container .banner-content button {
    width: auto;
    padding: 8px 16px;
    font-size: 0.8em;
  }
}
@media (max-width: 480px) {
  section.banner-container {
    height: 300px;
    padding: 10px;
  }
  section.banner-container .banner-content h1 {
    font-size: 1.2em;
  }
  section.banner-container .banner-content button {
    width: auto;
    padding: 8px 12px;
    font-size: 0.7em;
  }
}
/* Seqciebs shoris dashoreba */
section + section {
  margin-top: 40px;
}
@media (max-width: 768px) {
  section + section {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  section + section {
    margin-top: 20px;
  }
}

.Title1-Section {
  width: 100%;
  height: 50px;
  align-items: center;
  flex-shrink: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  margin-top: 60px;
  position: relative;
  padding: 10px;
}
.Title1-Section h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 24px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-sizing: border-box;
  color: #472d1c;
  font-family: "Bell MT";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Janrebi {
  width: 100%;
  max-width: 1262px;
  box-sizing: border-box;
  margin: 60px auto;
  padding: 10px;
}
.Janrebi h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 24px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-sizing: border-box;
  color: #472d1c;
  font-family: "Bell MT";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Janrebi .Janrebi-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.Janrebi .Janrebi-list .cards {
  width: 208px;
  height: 240px;
  border-radius: 10px;
  background: #00fff2;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Janrebi .Janrebi-list .cards img {
  width: 130px;
  height: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}
.Janrebi .Janrebi-list .cards .offsec {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.Janrebi .Janrebi-list .cards p {
  color: #3b3b3b;
  font-family: "Bell MT";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Janrebi .Janrebi-list .cards:hover {
  transform: scale(1.05);
}

.slider {
  width: 400px;
  height: 356px;
  display: none;
}
.slider .carousel-item {
  padding-left: 50px;
}
.slider .carousel-item .image-area {
  width: 200px;
  background-color: grey;
}
.slider .carousel-item .card-img-top {
  width: 286px;
  height: 180;
  background-color: gray;
}
.slider .carousel-item .card-text {
  color: #796751;
  font-family: "Bell MT";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}

.wignebi {
  width: 100%;
  max-width: 1262px;
  box-sizing: border-box;
  margin: 60px auto;
  padding: 10px;
}
.wignebi h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 24px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-sizing: border-box;
  color: #472d1c;
  font-family: "Bell MT";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.wignebi .wignebi-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.wignebi .wignebi-list .cards {
  width: 236px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #cbb294;
  background: #00fff2;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.wignebi .wignebi-list .cards:hover {
  transform: scale(1.05);
}
.wignebi .wignebi-list .cards img {
  width: 116px;
  height: 174px;
  flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.wignebi .wignebi-list .cards p {
  color: #302923;
  font-family: "Bell MT";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wignebi .wignebi-list .cards .book-price {
  font-size: 18px;
  color: #555;
}

.sliderbooks {
  width: 400px;
  height: 356px;
  display: none;
}
.sliderbooks .carousel-item {
  padding-left: 50px;
}
.sliderbooks .carousel-item .image-area {
  width: 200px;
  background-color: grey;
}
.sliderbooks .carousel-item .card-img-top {
  width: 286px;
  height: 180;
  background-color: gray;
}
.sliderbooks .carousel-item .card-text {
  color: #796751;
  font-family: "Bell MT";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}

.offers-container {
  width: 100%;
  max-width: 1262px;
  margin: 60px auto;
  padding: 10px;
  text-align: center;
}
.offers-container h1 {
  font-family: "Bell MT";
  font-size: 48px;
  font-weight: 700;
  color: #472d1c;
  margin-bottom: 40px;
}
.offers-container .offers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.offers-container .offers-list .offer-card {
  width: calc(50% - 10px);
  border-radius: 15px;
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.offers-container .offers-list .offer-card .offer-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.offers-container .offers-list .offer-card .offer-details {
  padding: 20px;
  text-align: center;
  color: #302923;
}
.offers-container .offers-list .offer-card .offer-details h2 {
  font-family: "Bell MT";
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.offers-container .offers-list .offer-card .offer-details p {
  font-family: "Bell MT";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.offers-container .offers-list .offer-card .offer-details .offer-button {
  color: #302923;
  font-family: "Bell MT";
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  background: #d1beaf;
  transition: background-color 0.3s ease;
}
.offers-container .offers-list .offer-card .offer-details .offer-button:hover {
  background-color: #2c1a0e;
  color: white;
}

.sliderbooks {
  display: none;
}

.slideroffers {
  display: none;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

button {
  outline: none !important;
  border: none;
  background: 0 0;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #A7E6FF;
}

.wrap-contact100 {
  width: 1120px;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

.contact100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0;
}

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.contact100-form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 63px;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 50%;
}

.rs2-wrap-input100 {
  border-left: none;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #555;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}

.input100 {
  display: block;
  width: 100%;
  background: 0 0;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}

textarea.input100 {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #00ad5f;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.container-contact100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
}

.contact100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 2px;
  background: #00ad5f;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333;
}

@media (max-width: 992px) {
  .contact100-form {
    width: 60%;
    padding: 56px 30px 63px;
  }
  .contact100-more {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }
  .contact100-more {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .contact100-form {
    padding: 56px 15px 63px;
  }
  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }
  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-top: none;
  }
}
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
footer {
  margin-top: 100px;
  width: 100%;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}
.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 29px;
}
.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 24px;
  margin-bottom: 0;
}
.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  z-index: 100;
}
.footer-dark ul a:hover {
  opacity: 0.8;
}
.footer-dark .item.text {
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}
.footer-dark .item.social {
  text-align: center;
}
@media (max-width: 991px) {
  .footer-dark .item.social {
    margin-top: 20px;
  }
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}
.footer-dark .item.social > a:hover {
  opacity: 0.9;
}
@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.banner-container-news {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
  background-color: rgba(248, 249, 250, 0.1176470588);
}
.banner-container-news .banner-image {
  width: 1300px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.banner-container-news .banner-content {
  position: absolute;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  max-width: 60%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.614);
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-container-news .animated-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.banner-container-news p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  color: #dad3be;
  font-weight: 700;
}
@media (max-width: 768px) {
  .banner-container-news .banner-content {
    max-width: 80%;
    padding: 15px;
  }
  .banner-container-news .animated-title {
    font-size: 28px;
    padding-bottom: 15px;
  }
  .banner-container-news .banner-image {
    max-width: 80%;
  }
  .banner-container-news p {
    font-size: 15px;
  }
}

.news-content .big-card {
  background-color: #74d7fe;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.news-content .big-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
.news-content .big-card h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.news-content .big-card p {
  line-height: 1.6;
  color: #555;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .news-content .big-card {
    padding: 15px;
  }
  .news-content .big-card h2 {
    font-size: 20px;
  }
}

.services-section {
  padding: 60px 0;
  background-color: #A7E6FF;
  text-align: center;
}
.services-section .container {
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 20px;
  background-color: #80dbff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
}
.services-section h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #333;
}
.services-section .services-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.services-section .services-grid .service-item {
  background-color: #02ebf3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section .services-grid .service-item:hover {
  transform: translateY(-10px);
}
.services-section .services-grid .service-item .service-icon {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
.services-section .services-grid .service-item .service-icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.services-section .services-grid .service-item h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #007bff;
}
.services-section .services-grid .service-item p {
  font-size: 1em;
  color: #555;
}
@media (max-width: 768px) {
  .services-section .services-grid {
    flex-direction: column;
    gap: 40px;
  }
  .services-section .service-item {
    margin-bottom: 20px;
  }
}

.about-us-section {
  padding: 80px 20px;
  background-color: #A7E6FF;
  color: #333;
}
.about-us-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.about-us-section h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #028391;
  text-align: center;
  font-weight: bold;
}
.about-us-section h2 {
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #028391;
  border-bottom: 3px solid #028391;
  padding-bottom: 10px;
}
.about-us-section p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #555;
  text-align: justify;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.team-member {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  max-width: 260px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}
.team-member img {
  border-radius: 50%;
  margin-bottom: 15px;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #028391;
}
.team-member h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #028391;
}
.team-member p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

@media (max-width: 800px) {
  #hideOnMobile {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
@media (min-width: 800px) {
  #hideOnBig {
    display: none;
  }
}
@media (max-width: 800px) {
  .mobile-s-1 {
    width: 400px;
    height: 400px;
  }
  .banner-container {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 684px) {
  .Janrebi {
    display: none;
  }
  .slider {
    display: block;
    margin-top: 45px;
  }
}
@media (max-width: 684px) {
  .wignebi {
    display: none;
  }
  .sliderbooks {
    display: block;
    margin-top: 45px;
  }
  .s-2 {
    padding-top: 300px;
    padding-bottom: 400px;
  }
  .offers-container {
    display: none;
  }
  .slideroffers {
    display: block;
  }
}/*# sourceMappingURL=global.css.map */