@mixin navstyle {
  color: #028391;
  font-family: "Copperplate Gothic Light";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

// SECTION 1

@mixin buybutton {
  color: $yinulisferi;
  text-align: center;
  font-family: "Bell MT";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}
@mixin slogan {
  position: relative;
  color: #dad3be;
  font-family: "Bell MT";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  width: 564px;
  height: 102px;
}
@mixin introduction-s1 {
  box-sizing: border-box;
  position: relative;
  padding-left: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  width: 1240px;
  height: 168px;
}

// JANREBIS SEQCIA

@mixin janrebi-satauri {
  color: #472d1c;
  font-family: "Bell MT";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
