@mixin navstyle{
    color: #028391;
    font-family: "Copperplate Gothic Light";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}